<form action="/comprar" method="POST">

    <input type="text" name="name" id="name">
    <input type="number" name="price" id="price">
    <input type="number" name="amount" id="amount">

    <input type="email" name="email" id="email">
    <input type="number" name="id" id="id">
    <button>Comprar</button>
</form>

<hr>

<form action="/sub" method="POST">

    <input type="email" name="email" id="email">

    <button>Assinar</button>
</form>